@font-face {
	font-family: 'S-CoreDream-4Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cafe24Danjunghae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'S-CoreDream-4Regular';
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
/* 노말라이즈 끝 */

/* 라이브러리 */
.con {
	margin-left: auto;
	margin-right: auto;
}

.block {
  display:block;
}

.padding-0-10 {
	padding: 0 10px;
}

.text-align-center {
	text-align: center;
}

.min-height-100vh{
  min-height:100vh;
}

.height-100p {
	height: 100%;
}

*>.flex {
	display: flex;
}

*>.flex-grow-1 {
	flex-grow: 1;
}

*>.flex-jc-s {
	justify-content: flex-start;
}

*>.flex-jc-e {
	justify-content: flex-end;
}

*>.flex-jc-c {
	justify-content: center;
}

*>.flex-jc-sb {
	justify-content: space-between;
}

*>.flex-ai-c {
	align-items: center;
}

*>.flex-ai-e {
	align-items: flex-end;
}

*>.flex-as-c {
	align-self: center;
}

*>.flex-1-0-0 {
	flex: 1 0 0;
}
/* 라이브러리 끝 */

/* 커스텀 */
:root { --site-width: 1000px;
}

.con {
	max-width: var(--site-width);
}

.con-min-width {
	min-width: 320px;
}

::selection{
  color: white;
  background: #71B280;
}
/* 커스텀 끝 */

/* 탑바 시작 */
.top-bar-member {
	background-color: white;
}

.top-bar-member ul li {
	padding: 1px;
	margin: 0px 3px;
	color: #134E5E;
}

.top-bar {
	height: 50px;
	background: linear-gradient(to right, #134E5E, #71B280);
	color: white;
}

.top-bar .logo {
	font-size: 2rem;
	padding: 0 30px;
}

.logo {
	font-family: 'Cafe24Danjunghae';
}

.logo>i {
	margin-left: 5px;
}

.top-bar .menu-box-1>ul>li>a {
	padding: 0 20px;
	font-weight: bold;
	font-size: 1.2rem;
}

.top-bar .menu-box-1>ul>li:hover>a {
	background-color: white;
	color: #005809;
}

.top-bar .menu-box-1 ul>li {
	position: relative;
}

.top-bar .menu-box-1>ul ul {
	display: none;
	color: #134E5E;
	background-color: white;
	position: absolute;
	top: 100%;
	left: -2px;
	width: 100%;
	border: 2px solid #134E5E;
	border-top-width: 0;
}

.top-bar .menu-box-1 ul>li:hover>ul {
	display: block;
}

.top-bar .menu-box-1>ul ul>li>a {
	font-weight: bold;
	text-align: center;
	padding: 15px 0;
}

.top-bar .menu-box-1>ul ul>li:hover>a {
	background-color: #134E5E;
	color: white;
}
/* 탑바 끝 */

/* 토스트ui 플러그인 */
.toast-ui-codepen-plugin-wrap>iframe {
	width: 100%;
}

.toast-ui-youtube-plugin-wrap {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.toast-ui-youtube-plugin-wrap>iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.toast-ui-youtube-plugin-wrap::before {
	content: "";
	display: block;
	padding-top: calc(100%/ 16 * 9);
}
/* 토스트ui 플러그인 끝 */