/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 게시글 상세 */
.detail-title {
  font-size:1.5rem;
  font-weight:bold;
  padding:2px;
  margin:5px 0;
}

.detail-info {
  border-bottom:2px solid black;
}

.detail-info > div {
  padding:2px;
  margin-right:5px;
}

.detail-body {
  margin-top:10px;
  padding-bottom:10px;
  border-bottom:2px solid black;
}

.detail-btn {
  margin-top:10px;
}

/* 게시글 상세 끝 */
