/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 회원가입 */
.member-join > form {
  padding:10px;
}

.member-join > form > div {
  margin:5px 0;
}

.member-join input:not(.submit) {
  height:40px;
  width:300px;
}
/* 회원가입 끝 */
