/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 게시판 */
.article-list ul > li {
  text-align:center;
}
.article-list .list_top {
  padding:2px;
  border-bottom:2px solid black;
}
.article-list .list_article {
  padding:2px;
  margin:5px 0;
}

.list_id {
  width: 100px;
}

.list_title {
  width: 500px;
}

.list_writer {
  width: 200px;
}

.list_date {
  width:200px;
}

.write-btn {
  margin-top:20px;
}

.write-btn > a {
  padding:5px;
  border: 1px solid black;
  border-radius:5px;
}

.write-btn > a:hover {
  background-color:black;
  color:white;
}
/* 게시판 끝 */

