/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 로그인 */
.login-box {
  max-width:500px;
  background-color:#134E5E;
  border-radius:15px;
  color:white;
  margin-top:100px;
}

.login-box > h1 {
  padding:20px 0;
}

.login form {
  display:block;
  width:90%;
  margin-left:20px;
}

.login form > table {
  width:100%;
  border-collapse:collapse;
}

.login form > table > tbody > tr > th, .login form > table > tbody > tr > td {
  padding:10px 0;
}

.login form > table > tbody > tr > td > div {
  border-bottom: 2px solid white;
}

.login form > table > tbody > tr > td > div > input[type="text"], .login form > table > tbody > tr > td > div > input[type="password"]{
  display:block;
  width:100%;
  box-sizing:border-box;
  padding:10px;
  outline:none;
  border:none;
  background-color: #134E5E;
  font-family: 'S-CoreDream-4Regular';
  color:white;
}

input::placeholder {
  font-family: 'S-CoreDream-4Regular';
  color:lightgray;
}

.btn-wrap {
  margin-top: 20px;
}

.btn-wrap > * {
  font-size: 1rem;
  line-height: 1rem;
  padding: 10px 15px 7px 15px;
  display: inline-flex;
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #71B280;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  font-family: 'S-CoreDream-4Regular';
}

.forget {
  padding:3px;
  margin:10px 0;
  padding-bottom:20px;
}

.forget > span {
  padding:0 6px;
}

/* 로그인 끝 */