/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 로그인 */
.login form input {
  margin: 5px 0;
}

.login form input:not(.submit) {
  height: 30px;
  width: 300px;
}
.login-btn {
  margin-top: 10px;
}

/* 로그인 끝 */
