/* 페이지 타이틀 */
.pageTitle {
  margin:20px 0;
}
/* 페이지 타이틀 끝 */

/* 게시글 작성 */
.article-write input:not(.submit){
  width:600px;
  height:25px;
}

.article-write textarea {
  width:600px;
  height:500px;
}
/* 게시글 작성 끝 */
